<section id="about">
    <h2>about</h2>
    <div class="content">
        <p>
            iain is a multidiscipliary engineer
            focused on the intersections of 
            machines and humans
        </p>
        <p>
            these interests are manifested in
            full-stack engineering at oscar health,
            building immersive experiences &
            prototyping iot and wearable devices
        </p>
        <p>
            you can drop me a line at iain@,
            <a class="github" href="https://github.com/iainnash/">read some of my code</a>,
            <a class="instagram" href="https://instagram.com/iainnash/">look at some square photos</a>,
            <a class="twitter" href="https://twitter.com/isiain">see some snippets about tech</a>, 
            or <a class="linkedin" href="https://linkedin.com/in/iainpnash/">add me to your professional network™</a>.
            additionally, you can <a href="https://shop.inpublic.space/">buy some electronics</a> i’ve made.
        </p>
    </div>
</section>