<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>iain nash</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css">
</head>
<body>
    <header>
        <h1>
            <a href="/">
                iain <span class="l">nash</span>
            </a>
        </h1>
        <nav>
            <a href="/">about</a>
            <a href="/career">career</a>
            <a href="/interactive">interactive</a>
        </nav>
    </header>
    {{ content }}
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace();
    </script>
</body>
</html