<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>iain nash</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143382713-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-143382713-3');
    </script>
</head>
<body>
    <header>
        <h1>
            <a href="/">
                iain <span class="l">nash</span>
            </a>
        </h1>
        <nav>
            <a href="/">about</a>
            <a href="/career">career</a>
            <a href="/interactive">interactive</a>
            <a href="/teaching?">teaching</a>
        </nav>
    </header>
    {{ content }}
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace();
    </script>
</body>
</html
